body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
   padding-top: 100px;
    border:black solid 2px;
    /* The image used */
    background-image: url("../img/img_lights.jpg");
  
    /* Control the height of the image */
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    border:black solid 2px;
 
    margin-left: auto;
    margin-right: auto;
    right: 0;
    max-width: 500px;
    padding: 16px;
    background-color:rgba(252, 252, 253,0.5);
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 10px;
      outline: none;
    
  }
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .icon {
    padding: 10px;
    background: #04AA6D;
    color: white;
    min-width: 50px;
    
    text-align: center;
  }

  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  